.App {
  text-align: center;
}

.noteListItem {
  background-color: #585858;
  padding: 10px;
}

.noteListItem:nth-of-type(odd) {
  background-color: #d8d8d8;
}

.noteListItem:hover {
  background-color: yellow;
}
